<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::section})}" lang="pt-PT">

<body>
<section>
    <h2>Projetos de Lei:</h2>
    <table>
        <thead>
        <tr>
            <th>Título</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${openBills.isEmpty()}">
            <td colspan="1">Não há projetos de lei abertos neste momento.</td>
        </tr>
        <tr th:each="openBill : ${openBills}">
            <td>
                <a th:href="@{/bills/{id}(id=${openBill.id})}"> <span th:text="${openBill.title}"></span> </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>

</html>
