<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::section})}" lang="pt-PT">

<body>

<section>
  <h2>Votar para Projetos de Lei:</h2>

  <form action="#" th:action="@{/citizens/{citizenCardNumber}/vote(citizenCardNumber=${1})}" th:method="patch">

    <label for="selectedPollId">Projeto de Lei:</label><br />
    <select name="selectedPollId" id="selectedPollId" required>
      <option value="">Selecione um projeto de lei</option>
      <th:block th:each="poll : ${activePolls}">
        <option th:value="${poll.getId()}" th:text="${poll.title}"></option>
      </th:block>
    </select><br />

    <label>Tipo de Voto:</label><br />
    <input type="radio" id="positiveVote" name="voteType" value=0 required>
    <label for="positiveVote">Positivo</label><br />
    <input type="radio" id="negativeVote" name="voteType" value=1 required>
    <label for="negativeVote">Negativo</label><br /><br />

    <input type="submit" value="Votar" /> <br />

  </form>

  <div th:if="${error}" style="color: red" class="error" th:text="${error}"></div>
  <div th:if="${success}" style="color: green" class="success" th:text="${success}"></div>

</section>

</body>
</html>
